* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************** Primary header *********************/

header {
    display: flex;
    align-items: center;
    min-height: 9vh;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
}

header .logo {
    max-width: 25%;
    margin-left: 20px;
}

nav {
    flex: 1;
    position: relative;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.primary-navigation li {
    margin: 0px;
    background: none;
    cursor: pointer;
}

.primary-navigation a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #000;
    position: relative;
}

.primary-navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.primary-navigation li:hover a::after {
    border-color: rgb(148, 0, 0);
}

.active {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.big-header-button {
    font-size: 1.1rem;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.5s;
}

.big-header-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.mobile-nav-button {
    display: none;
}

/******************** Main ***********************/

main {
    position: relative;
    z-index: 1;
    height: 91vh;
    width: 100%;
    max-width: 1340px;
}

.hero-carousel {
    position: relative;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease-in;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner {
    display: flex;
    height: 100%;
    width: 500%;
    flex-shrink: 0;
    transition: all 0.7s;
}

.carousel-slide {
    position: relative;
    flex-basis: 20%;
    flex-shrink: 0;
    flex: 1;
    width: 20%;
    background-position: left center;
    background-size: cover;

}

.slide-text {
    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -10px;
    font-size: clamp(0.7rem, 1vw, 1vw)
}

.slide-text h1,
.slide-text h3 {
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding: 0.5rem;
}

.hero-carousel button {
    all: unset;
    color:white;
    text-shadow: 1px 1px 10px black;
    font-size: 3rem;
    padding: 10px 20px;
    margin: 10px;
}

.hero-carousel button:hover {
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
    transition: text-shadow 0.15s;
}

.hero-carousel .controls {
    min-width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}

/***************** First section *****************/

section.first {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    display: flex;
    position: relative;
}

.card {
    position: absolute;
    width: 15rem;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px black;
    transition: transform ease-in 0.2s;
}

.card:nth-child(1) {
    background-color: red;
    transform: translateX(-55%) translateY(-50%) rotate(-2deg);
}
.card:nth-child(2) {
    background-color: green;
    transform: translateX(-45%) translateY(-50%) rotate(2deg);
}
.card:nth-child(3) {
    background-color: blue;
    transform: translateX(-50%) translateY(-50%);
}

.card-wrapper:hover .card:nth-child(1) {
    transform: translateX(-100%) translateY(-50%) rotate(-7deg);
}
.card-wrapper:hover .card:nth-child(2) {
    transform: translateX(-5%) translateY(-50%) rotate(7deg);
}
.card-wrapper:hover .card:nth-child(3) {
    transform: translateX(-50%) translateY(-60%);
}


/*********************** Footer *************************/

footer {
    background-color: #f2f2f2;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container p {
    margin: 0;
}

.footer-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-menu li {
    padding: 5px;
}

.footer-menu li a {
    text-decoration: none;
    color: #000;
}

.footer-menu li a:hover {
    text-decoration: underline;
}

/**************** Mobile responsibility ******************/

@media (width < 1300px) {

    header .logo {
        max-width: 50%;
        margin-left: 20px;
    }

    .primary-navigation {
        z-index: 1000;
        position: fixed;
        inset: 0 0 0 55%;
        flex-direction: column;
        justify-content: start;
        padding: min(30vh, 10rem) 2em;
        background: whitesmoke;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
        transform: translateX(100%);
        transition: transform 0.2s ease-out;
    }

    .primary-navigation a{
        color: black;
    }

    .hero-carousel .controls {
        display: none;
    }

    .mobile-nav-button {
        display: block;
        position: absolute;
        all: unset;
        display: block;
        width: 2rem;
        aspect-ratio: 1 / 1;
        margin: 1rem;
    }

    .mobile-nav-button[data-state="closed"] {
        z-index: 9999;
        background: url("pic/nav burger.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mobile-nav-button[data-state="opened"] {
        z-index: 9999;
        background: url("pic/nav close.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
