* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Bitter', serif;
}

header {
    display: flex;
    align-items: center;
    min-width: 100vh;
    min-height: 9vh;
    background-color: whitesmoke;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 2;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.menu li {
    padding: 20px;
    margin: 0px;
    border-radius: 3px;
    background: none;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

.menu li:hover {
    text-decoration: underline;
    text-decoration-color: rgb(172, 0, 0);
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    cursor: pointer;
    transition: text-decoration 0.5s ease;
}

.active {
    font-weight: bold;
    background-color: lightgrey;
}

.uppercase {
    text-transform: uppercase;
}

header button {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.5s;
}

header button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

main {
    position: relative;
    z-index: 1;
}

/******************** Hero Carousel ***********************/

.hero-carousel {
    display: flex;
}

.hero-carousel .carousel-slide {
    height: 91vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('pic/index photo/1.jpg');
    background-position: top center;
    background-size: cover;

}

.slide-text {
    color:white;
    text-shadow: 1px 1px 2px black;
    padding-left: 25vh;
}

.hero-carousel button {
    all: unset;
    color:white;
    text-shadow: 1px 1px 10px black;
    font-size: 3rem;
    padding: 10px 20px;
    margin: 10px;
}

.hero-carousel button:hover {
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
    transition: text-shadow 0.15s;
}

.button-wrapper {
    min-width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
}



/****************** Footer *********************/

footer {
    background-color: #f2f2f2;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container p {
    margin: 0;
}

.footer-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-menu li {
    padding: 5px;
}

.footer-menu li a {
    text-decoration: none;
    color: #000;
}

.footer-menu li a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 25%;
    height: auto;
}